.modal{
  background-color: rgba(0, 0, 0, 0.3);
}
.modal-backdrop{
  position: relative;
}

/* Print Kwitansi CSS */
.print-kwitansi{
  position: relative;
  text-align: center;
  display: inline-block
}

.no-kwitansi{
  position: absolute;
  top: 5%;
  left: 40%;
  font-size: medium;
  font-weight: bold;
}

.kwitansi-nama{
  position: absolute;
  top: 20%;
  left: 44%;
  font-size: small;
  font-weight: bold;
}

.kwitansi-terbilang{
  position: absolute;
  top: 32%;
  left: 47%;
  font-size: 10px;
  font-weight: bold;
}

.kwitansi-deskripsi-1{
  position: absolute;
  top: 40%;
  left: 44%;
  font-size: small;
  font-weight: bold;
}

.kwitansi-deskripsi-2{
  position: absolute;
  top: 50%;
  left: 25%;
  font-size: small;
  font-weight: bold;
}

.kwitansi-tanggal{
  position: absolute;
  top: 58%;
  left: 74%;
  font-size: small;
  font-weight: bold;
}

.kwitansi-total{
  position: absolute;
  top: 86%;
  left: 44%;
  font-size: small;
  font-weight: bold;
}

.kwitansi-text-kasir{
  position: absolute;
  top: 80%;
  left: 76%;
  font-size: small;
  font-weight: bold;
}

.kwitansi-nama-kasir{
  position: absolute;
  top: 86%;
  left: 76%;
  font-size: small;
  font-weight: bold;
}

#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#origin-input,
#destination-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 200px;
}

#origin-input:focus,
#destination-input:focus {
  border-color: #4d90fe;
}

#mode-selector {
  color: #fff;
  background-color: #4d90fe;
  margin-left: 12px;
  padding: 5px 11px 0px 11px;
}

#mode-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}