@media print{
	 @page 
    {
        size: auto;   /* auto is the initial value */
        margin: 0mm;  /* this affects the margin in the printer settings */
        width: 60mm; /*width: 58mm;*/
    }
    body, .page {

  	width: 60mm; /*width: 57mm;*/
 	margin: 0px;
    box-shadow: 0;
  }
}
.page {
  size: auto;   /* auto is the initial value */
  margin: 0mm;  /* this affects the margin in the printer settings */
  width: 60mm; /*width: 58mm;*/
  
  display: block;
 
  margin-bottom: 0.0cm;
  margin-top: 0.0cm;
  box-shadow: 0 0 0cm rgba(0,0,0,0); /*box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);*/
  font-size: 7px;
  font-family:  serif;
}
.header{
  border-top: 0.3mm solid black;
  padding: 1mm;
  width: 60mm; /*width: 56mm;*/
  margin-bottom: 1mm;
  border-bottom: 0.3mm solid black;
}
.logo{
  width: 9mm;
  float: left;
}
.img-logo{
  width: 90%;
}
.title-header{
  width: 60mm; /*width: 50mm;*/

}
.top{ /*instalasi dan nilai ukuran sendok*/
  display: block;
  font-weight: normal; /*font-weight: bold;*/
  font-size: 12px; /*font-size: 7px;*/
}
.mid{ /*RSUD R.A BASOENI*/
  display: block;
  font-weight: bold;
  font-size: 12px; /*font-size: 9px;*/
}
.note{
  font-weight: bold;
  font-size: 9px; /*font-size: 9px;*/
  text-decoration: underline;
}
.bot{ /*alamat*/
  display: block;
  font-weight: bold;
  font-size: 8px; /*font-size: 7px;*/
}
.content-etiket{
  padding: 0mm;
  border-bottom: 0.3mm solid black;
  font-size: 12px; /*font-size: 7px;*/

}
.footer{ 
  padding: 1mm;
  padding-bottom: 2mm;
  margin-bottom: 2mm;
  /*border-bottom: 0.3mm dashed black;*/
}
.data-pasien{ /*nama pasien dan nama obat footer*/
  font-size: 8px; /*font-size: 8px;*/
  font-family:  serif;
}
td {
  min-width: 0mm;
  padding-top: 0;
  padding-bottom: 0;
  margin:0;
}
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;		
}
.text-right{
	text-align: right;			
}